<h2>Create new survey</h2>

<%= form_for [@client, @survey] do |f| %>
	<% if @survey.errors.any? %>
		<h2><%= pluralize(@survey.errors.count, "error")  %> prohibited this article from being saved:</h2>
    	<% @survey.errors.full_messages.each do |msg| %>
      		<li><%= msg %></li>
    	<% end %>		
    <% end %>
	<br/>

	<%= f.label :name %>
	<%= f.text_field :name %>
	<br/>
	<%= f.label :flag, "Make Primary?" %>
	<%= f.check_box :flag %>
	<br/>

	<%= f.submit "Create Survey" %>

<% end %>